.main {
  margin-left: 25rem;
  margin-top: 5rem;
  border: 2px solid black;
  height: 30rem;
  width: 30rem;
  padding-left: 10rem;
  font-weight: 600;
  background-color: cornflowerblue;
}
.btn {
  margin-left: 3rem;
  height: 3rem;
  font-size: medium;
  background-color: rgb(104, 98, 123);
  color: #ffff;
  border-radius: 6px;
}
body {
  background-color: #cccc;
}
.ip {
  height: 1.3rem;
  border-radius: 3px;
  border-color: coral;
}
.pn {
  font-size: larger;
  font-weight: bolder;
}
